body{
    height: 1000rem;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #be3144;
    height: 5rem;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
    
  }

  .main-choose:hover {
    background-color: gray;
    text-decoration: underline;
  }

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  .main-choose{
      height: inherit;
      color: white;
      font-size: 25px;
      height: 2.2rem;
      margin-right: 20px;
      margin-top: 1.1rem;
  }

  #welcome-section {
      background: #303841;
      padding-top: 300px;
     height: 300px;

  }

  .p-welcome-section, .h1-welcome-section{
      text-align: center;
  }

  .p-welcome-section{
      color: #be3144;
      font-style: italic;
      font-size: 30px;
      margin-top: 5px;
      font-weight: 200;
      font-weight: lighter;
      font-family: 'Poppins', sans-serif;
  }

  .h1-welcome-section{
      font-size: 60px;
      color: white;
  }

  .h1-projects{
      text-align: center;
      color: white;
      font-size: 40px;
      font-family: 'Raleway', sans-serif;
  }

  #projects{
      background-color: #45567d;
      padding-top: 70px;
     height: 1000px;
    
  }

  #navbar{
      background-color: #303841;
      padding-top: 100px;
      height: 300px;
  }

  .h1-navbar{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
}

.p-navbar{
    text-align: center;
    color: white;
    font-size: 15px;
     font-weight: lighter;
    font-style: italic;
    font-weight: 100;
    padding-top: 10px;
}

img{
    
    width: 10%;
    object-fit: cover;
    align-content: center;

    
}

.project{
    background-color: #303841;
    width: fit-content;
    align-content: center;
    
    
}

#projects-div{
    display: flex;
}




