body{
    height: 1000rem;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #be3144;
    height: 5rem;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
    
  }

  .main-choose:hover {
    background-color: gray;
    text-decoration: underline;
  }

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  .main-choose{
      height: inherit;
      color: white;
      font-size: 25px;
      height: 2.2rem;
      margin-right: 20px;
      margin-top: 1.1rem;
  }

  .about {
      background: #303841;
      padding-top: 300px;
     height: 300px;

  }

  .p-about, .h1-about{
      text-align: center;
  }

  .p-about{
      color: #be3144;
      font-style: italic;
      font-size: 30px;
      margin-top: 5px;
      font-weight: 200;
  }

  .h1-about{
      font-size: 60px;
      color: white;
  }

  .h1-work{
      text-align: center;
      color: white;
      font-size: 40px;
      /* text-decoration: underline;
       */
       border-bottom: 2px;
      font-family: 'Raleway', sans-serif;
  }

  .work{
      background-color: #45567d;
      padding-top: 70px;
     height: 300px;
  }


