body{
    height: 1000rem;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #be3144;
    height: 5rem;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    
    
  }

  .main-choose{
      /*width: inherit;*/
      color: white;
      height: 2.2rem;
  }


